extends layout

block content
  h1= title
  p Welcome to #{title}
  video(id="local-video", autoplay)
  button(id="get-video") getVideo
  button(id="send-video") Send

  script.
    const video=document.getElementById("local-video");
    const getVideo = document.getElementById("get-video");
    document.getElementById("send-video");


    async function init(e) {
        try {
          const stream = await navigator.mediaDevices.getUserMedia({audio: true, video: true});
          video.srcObject=stream;
          console.log('vid',video)
          e.target.disabled = true;
        } catch (e) {
          console.log(e);
        }
    }

    getVideo.addEventListener('click', e => init(e));